/* 
   Filename: desktop styles.css
   Author: Noah Larchick
   Created: 12/31/2024
   Updated: 1/10/2025
   Description: This file contains the styles for the Life Caddie Website.
   Notes: 
    - Color palates can be found @ "colors.txt" file
    - Along with descriptions for each, use for easy color hex selection.
*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d4d4d4;
}

html {
    scroll-behavior: smooth;
    font-size: 1.5vw;
}

.transparent {
    opacity: 0.8;
}

.navBar {
    justify-content: space-between;
    background-color: #1e435a;
    flex-direction: row;
    position: fixed;
    display: flex;
    z-index: 1000;
    padding: .5vw;
    height: 3vw;
    width: 100%;
}

.logoContainer {
    align-items: center;
    display: flex;
    height: 100%;
}

.navDirections {
    align-items: center;
    display: flex;
    height: 100%;
    gap: 3.5vw;
}

.navButton {
    transition: all 0.3s ease;
    font-size: 1.2vw;
    background: none;
    color: white;
    border: none;
}

.navButton:hover {
    color: #e49d5d;
    cursor: pointer;
}

.banner {
    position: relative;
}

.bannerInternal {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    transform: translate(-50%, -50%);
    justify-content: space-between;
    position: absolute;
    font-size: 3vw;
    color: white;
    display: flex;
    width: 72%;
    left: 50%;
    top: 50%;
}

.bannerL {
    text-align: center;
    color: white;
}

.bannerR {
    justify-content: center;
    flex-direction: column;
    text-align: center;
    display: flex;
}

.bannerButton {
    background-color: #1e435a;
    border: 2px solid #1e435a;
    transition: all 0.3s ease;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 1.5vw;
    color: white;
}

.bannerButton:hover {
    background-color: #d4d4d4;
    color: #5c5c5c;
    cursor: pointer;
}

.landingSection {
    background-color: #5c5c5c;
    padding: 0.5vw 0px 0.5vw;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
    display: flex;
}

.landingTextComp {
    line-height: 2.2vw;
    width: 90%;
}

.inlineButton {
    display: inline-block;
    padding: 0px 1vw 0px;
    background-color: #e49d5d;
    color: black;
    text-decoration: none;
    border-radius: 8px;
    font-size: 1vw;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
}

.inlineButton:hover {
    background-color: #d4d4d4; /* Darker blue on hover */
}

.aboutSection {
    flex-direction: column;
    text-align: center;
    padding: 0vw 8vw;
    display: flex;
}

.aboutSection h3 {
    color: #1e435a;
    font-size: 3vw;
}

.aboutSection h5 {
    color: #5c5c5c;
    font-size: 1.5vw;
}

.aboutContent {
    justify-content: space-between;
    flex-direction: row;
    color: #1e435a;
    font-size: 1.7vw;
    display: flex;
}

.aboutOffset {
    width: 15%;
}

.aboutInfoContainer {
    justify-content: space-between;
    background-color: white;
    border-radius: 50px;
    flex-direction: row;
    padding: 1vw 4vw;
    display: flex;
    width: 85%;
}

.aboutConstruct {
    justify-content: center;
    flex-direction: column;
    display: flex;
    width: 49%;
    gap: 2vw;
}

.footer {
    background-color: #1e435a;
    padding: 10px 0px 0px;
    text-align: center;
    color: white;
}

.footerLists {
    justify-content: center;
    flex-direction: row;
    font-size: 0.8vw;
    display: flex;
    gap: 60px;
}

.fList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}