/* 
   Filename: mobile styles.css
   Author: Noah Larchick
   Created: 1/10/2025
   Updated: 1/10/2025
   Description: This file contains the styles for the Life Caddie Website.
   Notes: 
    - Color palates can be found @ "colors.txt" file
    - Along with descriptions for each, use for easy color hex selection.
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #d4d4d4;
}

.transparent {
    opacity: 0.8;
}