/* 
   Filename: mobile styles.css
   Author: Noah Larchick
   Created: 1/10/2025
   Updated: 2/12/2025
   Description: This file contains the styles for the Life Caddie Mobile Website.
   Notes: 
    - Color palates can be found @ "colors.txt" file
    - Along with descriptions for each, use for easy color hex selection.
*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'SourceSans';
    src: url('../fonts/SourceSansPro-Regular.ttf') format('truetype');
}

body {
    font-family: 'Poppins', sans-serif, Arial;
    background-color: #d4d4d4;
    font-size: 3vw;
}

.transparent {
    opacity: 0.8;
}

#banner {
    position: relative;
}

#banner-internal {
    text-shadow: 2px 2px 4px #4a3c39;
    transform: translate(-50%, -50%);
    text-align: center;
    position: absolute;
    color: white;
    left: 50%;
    top: 50%;
}

.dark-button {
    font-family: 'SourceSans', sans-serif, Arial;
    background-color: #1e435a;
    transition: all 0.5s ease;
    border-radius: 15px;
    padding: 2% 20%;
    color: white;
    font-size: 3vw;
    border: 0px;
}

.dark-button:hover {
    background-color: #e49d5d;
    cursor: pointer;
    color: black;
}

#landingStrip {
    background-color: #4a3c39;
    padding-bottom: 8px;
    text-align: center;
    color: white;
}

.light-button {
    font-family: 'SourceSans', sans-serif, Arial;
    background-color: transparent;
    transition: all 0.5s ease;
    font-weight: bold;
    padding: 1% 2%;
    color: white;
    font-size: 4vw;
    border: 0px;
}

.light-button:hover {
    color: #e49d5d;
    cursor: pointer;
}