/* 
   Filename: mobile styles.css
   Author: Noah Larchick
   Created: 1/10/2025
   Updated: 1/10/2025
   Description: This file contains the styles for the Life Caddie Website.
   Notes: 
    - Color palates can be found @ "colors.txt" file
    - Along with descriptions for each, use for easy color hex selection.
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #d4d4d4;
}

.transparent {
    opacity: 0.8;
}

.navMenuButton {
    background-color: #1e435a;
    justify-content: center;
    flex-direction: column;
    border-radius: 10px;
    align-items: center;
    cursor: pointer;
    position: fixed;
    display: flex;
    z-index: 100;
    height: 10vw;
    width: 10vw;
    left: 15px;
    top: 15px;
    gap: 6%;
}

.navMenuButton:hover .line {
    background-color: #e49d5d;
}

.line {
    background-color: #d4d4d4;
    transition: all 0.3s ease;
    border-radius: 15px;
    height: 10%;
    width: 70%;
}

.menu {
    transition: opacity 0.5s ease, visibility 0.5s ease;
    background-color: #1e435a;
    padding: 20px 10px 10px;
    flex-direction: column;
    top: calc(15px + 5vw);
    visibility: hidden;
    border-radius: 10px;
    align-items: end;
    position: fixed;
    display: flex;
    z-index: 99;
    opacity: 0;
    width: 45%;
    left: 15px;
}

.open {
    visibility: visible;
    opacity: 1;
}

.navButton {
    transition: all 0.3s ease;
    font-size: 6vw;
    background: none;
    color: white;
    border: none;
}

.navButton:hover {
    color: #e49d5d;
    cursor: pointer;
}

.banner {
    position: relative;
}

.bannerInternal {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
    transform: translate(-50%, -50%);
    flex-direction: column;
    align-items: center;
    position: absolute;
    text-align: center;
    font-size: 6.5vw;
    color: white;
    display: flex;
    width: 72%;
    gap: 10px;
    left: 50%;
    top: 50%;
}

.bannerButton {
    background-color: #1e435a;
    border: 2px solid #1e435a;
    transition: all 0.3s ease;
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 2.5vw;
    color: white;
}

.bannerButton:hover {
    background-color: #d4d4d4;
    color: #5c5c5c;
    cursor: pointer;
}

.aboutSection {
    justify-items: center;
}

.aboutContent {
    flex-direction: column;
    text-align: center;
    font-size: 3.5vw;
    display: flex;
    width: 85%;
    gap: 10px;
}

.aboutContent p, h3 {
    color: #1e435a;
}

.aboutContent h5 {
    color: #5c5c5c;
}

.footer {
    background-color: #1e435a;
    padding: 10px 0px 10px;
    text-align: center;
    color: white;
}
