/* 
   Filename: styles.css
   Author: Noah Larchick
   Created: 12/31/2024
   Updated: 12/31/2024
   Description: This file contains the styles for the Life Caddie Website.
   Notes: 
    - Color palates can be found @ "colors.txt" file
    - Along with descriptions for each, use for easy color hex selection.
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #d4d4d4;
}

.banner {
    position: relative;
}

.bannerInternal { /* Dont forget to add: text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); for visability. */
    background-color: red; /*This is tmp*/

    transform: translate(-50%, -50%);
    position: absolute;
    font-size: 3vw;
    color: white;
    width: 75%;
    left: 50%;
    top: 50%;
}

.temp {
    background-color: red;
}